.env
transcript.txt
__pycache__/
sample_audio_for_transcript.mp3
*.zip
/issue_resolved/
/hr_dashboard_app/static/  
/hr_dashnoard_app/static/plots/
/poc/plots/
/Dhruvin/
*.docx
*.pdf
test1.py
*.sql
/Project/frontend/node_modules/
node_modules/
Project/frontend/node_modules
Project/backend/migrations/__pycache__/
*.log