Flask==3.1.0
Flask_Bcrypt==1.0.1
flask_cors==5.0.1
Flask_JWT_Extended==4.7.1
geopy==2.4.1
joblib==1.4.2
langchain==0.3.21
langchain_core==0.3.49
langchain_groq==0.3.1
langgraph==0.3.20
matplotlib==3.10.1
numpy==2.2.4
openai_whisper==20240930
pandas==2.2.3
pydub==0.25.1
Requests==2.32.3
scikit_learn==1.6.1
seaborn==0.13.2
spacy==3.8.4
SQLAlchemy==2.0.37
torch==2.6.0
torchaudio==2.6.0
Werkzeug==3.1.3
